@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap');
@import "reset.css";
html{font-family: 'Noto Sans KR', sans-serif;}
body {-ms-overflow-style:none;  }
body::-webkit-scrollbar { display:none; }

.main_container{margin: 16px auto;}
.inner_container{max-width: 1580px; margin: 0 auto;}
.explain {display:inline-block; font-weight: normal; line-height: 1.78; letter-spacing: -0.45px;white-space: pre-wrap;}

.main_explain{padding: 0 150px 90px 150px; background-image: linear-gradient(106deg, #1b5fce 1%, #5812b3);}
.main_explain h1{padding-top: 140px; font-size: 2.5rem;color: #fff;font-weight: bold; font-stretch: normal; font-style: normal; line-height: normal; text-align: left; letter-spacing: 2.2px;}  /* letter-spacing: -1.2px;*/
.main_explain .explain {margin-top: 34px; font-size: 1.1rem;text-align: left;color: #fff;}
.main_explain .btn_container {margin-top:60px; }
.main_explain .btn_container .btn {border-radius: 50px; width: 280px;height: 3.5rem;background-color:#fff;border: none; font-size: 1.3rem; font-weight: bold;}
.main_explain .btn_container .btn:hover{background-color:#eee;}
.main_explain .btn_container .btn a{color: #222222;}


.sub_explain {margin:50px 0; padding: 150px;text-align: center;}
.sub_explain img{margin-right: 4.5rem;  max-width: 45%;}
.sub_explain div {display:inline-block;max-width: 50%; text-align: left;}
.sub_explain h1{color: #222;margin: 40px 0; font-size: 1.7rem;font-weight: 600; font-stretch: normal;letter-spacing: 1.2px;}
.sub_explain div .explain{color: #777;font-size: 1rem; }

.strengthContainer .characteristic{padding: 150px 0; }
.strengthContainer .characteristic p {margin-bottom: 50px; font-size: 2rem;font-weight: bold;font-stretch: normal;letter-spacing: -0.75px;color: #222;}
.strengthContainer .strength {padding: 150px 0; display: flex; justify-content: space-around;}
.strengthContainer .strength .card {max-width: 524px; padding: 30px 40px; border-radius: 20px; flex: auto;font-size: 2rem;font-weight: bold; line-height: normal;color:#fff; letter-spacing: -0.75px;}
.strengthContainer .strength .card:first-child { background-color: #5812b3;}
.strengthContainer .strength .card:last-child { background-color: #1b5fce;}
.strengthContainer .strength .card:first-child p:first-child {margin-bottom: 15px; color: #bb8ff5;}
.strengthContainer .strength .card:last-child p:first-child {margin-bottom: 15px; color: #7caaf5;}
.strengthContainer .strength .explain {display: block; margin-top:46px; color: #fff; font-size: 1.1rem}





/*  DEMO */
.input_container{padding: 0 150px;text-align: center;}
.inputWrapper {margin: 30px 0; padding:30px; border-radius: 20px;border: solid 3px #1b5fce;background-color: #f7f9fb; text-align: center;}
.inputWrapper #inputTitle,#inputContext,#inputTitle-basic {color:#777777; font-size: 18px;font-weight: 500;line-height: 1.67;letter-spacing: -0.45px;text-align: left;}
.inputWrapper #inputContext { overflow-y: scroll; -ms-overflow-style: none;}
.inputWrapper #inputContext::-webkit-scrollbar { display:none; }
#analysisBtn {width: 320px;height: 55px; border-radius:50px;margin-top: 50px; margin-bottom:150px;background-image: linear-gradient(98deg, #5812b3 3%, #1b5fce 99%);font-size: 1.1rem}
